.categories {
  background: $color-bg-2;
  height: 40rem;
  &__container {
    display: grid;
    grid-template-columns: 40% 60%;
    // gap: 4rem;

    .container__left {
      margin: 0rem 4rem 0 0;
      &--paragraph {
        margin: 1rem 0 3rem;
        font-size: 1.5rem;
      }

      &--title {
        line-height: 1;
        font-size: 4rem;
        margin-bottom: 3rem;
      }
    }

    .contanier__right {
      //   background-color: aquamarine;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;

      &--category {
        background: $color-bg-3;
        padding: 2rem;
        border-radius: 2rem;
        transition: $transition;
        &:hover,
        &:active {
          box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
          z-index: 1;
        }

        &--title {
          font-size: 2.3rem;
        }
        &--paragraph {
          font-size: 1.5rem;
        }

        &:nth-child(2) {
          .category {
            &__icon {
              background: $color-danger;
            }
          }
        }

        &:nth-child(3) {
          .category {
            &__icon {
              background: $color-success;
            }
          }
        }

        &:nth-child(4) {
          .category {
            &__icon {
              background: $color-warning;
            }
          }
        }

        &:nth-child(5) {
          .category {
            &__icon {
              background: $color-success;
            }
          }
        }

        .category {
          &__icon {
            background: $color-primary;
            padding: 0 2rem;
            width: 10%;
            display: flex;
            align-content: center;
            justify-content: center;
            border-radius: 1rem;
            i {
              margin: 0 auto;
              font-size: 2.5rem;
            }
          }
          &--title {
            margin: 2rem 0 1rem;
            font-size: 2rem;
          }
          &--paragraph {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
