.u-btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.u-btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.u-btn--primary {
    background: var(--color-danger);
    color: var(--color-white);
}