.faqs {
  background-color: $color-bg-2;
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.3);
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    .container__faq {
      padding: 2rem;
      display: flex;
      align-items: center;
      gap: 1.4rem;
      height: min-content;
      background: $color-primary;
      cursor: pointer;
      border-radius: 5px;

      .faq {
        &__icon {
          align-self: flex-start;
          font-size: 2rem;
          transition: $transition;
          color: $color-success;
        }

        &__question-answer {
          align-self: flex-start;

          &--title {
            font-size: 1.8rem;
            line-height: 1.5;
          }

          &--paragraph {
            background: $color-bg-3--variant;
            border-radius: 5px;
            margin: 0.5rem;
            padding: 1rem 1.5rem;
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 2;
            display: none;
          }
        }
      }

      //Javascript
      &.open {
        height: auto;
        .faq {
          &__icon {
            transform: rotate(45deg);
            color: $color-danger;
          }
          &__question-answer {
            &--paragraph {
              display: block;
            }
          }
        }
      }
    }
  }
}
