.nav {
  background: transparent;
  width: 100vw;
  height: 8rem;
  position: fixed;
  top: 0;
  z-index: 11;
  color: $color-white;
  &__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container {
    &--tittle {
      text-decoration: none;
    }

    &__menu {
      display: flex;
      align-items: center;
      gap: 4rem;
      a:visited,
      a:link {
        font-size: 2rem;
        transition: color 400ms ease;
        color: inherit;
      }

      a:hover,
      a:active {
        color: $color-bg-3--variant;
      }
    }

    &--button {
      display: none;
    }
  }
  // JavaScript
  &.window-scroll {
    background: $color-primary;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  }
}
