@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap");
* {
  border: none;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none; }

:root {
  --color-bg-1: #1f2641;
  --color-bg-2: #2e3267;
  --color-bg-3: #424890;
  --color-black: #000;
  --color-danger-variant: rgba(247, 88, 66, .4);
  --color-danger: #f75842;
  --color-light: rgba(255, 255, 255, .7);
  --color-primary: #6c63ff;
  --color-success: #00bf9e;
  --color-warning: #f7c94b;
  --color-white: #fff;
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
  --transition: all 400ms ease; }

html {
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  color: var(--color-white);
  background: var(--color-bg-1); }

section {
  padding: 6rem 0; }

section h2 {
  text-align: center;
  margin-bottom: 4rem; }

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2; }

h1 {
  font-size: 6rem; }

h2 {
  font-size: 4.5rem; }

h3 {
  font-size: 3.5rem; }

h4 {
  font-size: 2rem; }

a {
  color: var(--color-white); }

img {
  width: 100%;
  display: block;
  object-fit: cover; }

.container {
  width: var(--container-width-lg);
  margin: 0 auto; }

.u-btn {
  display: inline-block;
  background: var(--color-white);
  color: var(--color-black);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  border-radius: 5px;
  font-weight: 500;
  transition: var(--transition);
  font-size: 2rem; }
  .u-btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white); }
  .u-btn--primary {
    background: var(--color-danger);
    color: var(--color-white); }

.nav {
  background: transparent;
  width: 100vw;
  height: 8rem;
  position: fixed;
  top: 0;
  z-index: 11; }
  .nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .nav .container--tittle {
    text-decoration: none; }
  .nav .container__menu {
    display: flex;
    align-items: center;
    gap: 4rem; }
    .nav .container__menu a {
      font-size: 1.5rem;
      transition: color 400ms ease; }
    .nav .container__menu a:hover {
      color: var(--color-bg-2); }
  .nav .container--button {
    display: none; }
  .nav.window-scroll {
    background: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }

.header {
  position: relative;
  top: 8rem;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 5rem;
  /* background: red; */ }
  .header__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5rem;
    height: 100%; }
    .header__container .container__left--paragraph {
      margin: 1rem 0 2.4rem;
      font-size: 1.8rem;
      line-height: 1.8; }

.categories {
  background: var(--color-bg-2);
  height: 40rem; }
  .categories__container {
    display: grid;
    grid-template-columns: 40% 60%; }
    .categories__container .container__left {
      margin: 4rem 4rem 0 0; }
      .categories__container .container__left--paragraph {
        margin: 1rem 0 3rem;
        font-size: 1.5rem; }
      .categories__container .container__left--title {
        line-height: 1;
        margin-bottom: 3rem; }
    .categories__container .contanier__right {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem; }
      .categories__container .contanier__right--category {
        background: var(--color-bg-3);
        padding: 2rem;
        border-radius: 2rem;
        transition: var(--transition); }
        .categories__container .contanier__right--category:hover {
          box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
          z-index: 1; }
        .categories__container .contanier__right--category:nth-child(2) .category__icon {
          background: var(--color-danger); }
        .categories__container .contanier__right--category:nth-child(3) .category__icon {
          background: var(--color-success); }
        .categories__container .contanier__right--category:nth-child(4) .category__icon {
          background: var(--color-warning); }
        .categories__container .contanier__right--category:nth-child(5) .category__icon {
          background: var(--color-success); }
        .categories__container .contanier__right--category .category__icon {
          background: var(--color-primary);
          padding: 0 2rem;
          width: 10%;
          display: flex;
          align-content: center;
          justify-content: center;
          border-radius: 1rem; }
          .categories__container .contanier__right--category .category__icon i {
            margin: 0 auto;
            font-size: 2.5rem; }
        .categories__container .contanier__right--category .category--title {
          margin: 2rem 0 1rem;
          font-size: 2rem; }
        .categories__container .contanier__right--category .category--paragraph {
          font-size: 1.5rem; }
