.header {
  position: relative;
  top: 8rem;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 5rem;
  /* background: red; */

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5rem;
    height: 100%;

    .container__left {
      &--title {
        font-size: 5.5rem;
      }
      &--paragraph {
        margin: 1rem 0 2.4rem;
        font-size: 1.8rem;
        line-height: 1.8;
      }
    }
  }
}
